@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  border-bottom: 16px solid #edc84b;
  min-height: 100vh;
  padding: 32px;
  padding-bottom: 60px;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.header {
  align-self: stretch;
}

.header h1 {
  /* Non-accessible color */
  color: #edc84b;
  /* color: #af8602; */
  text-transform: uppercase;
  text-align: center;
  font-size: 52px;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.header h1::before,
.header h1::after {
  display: block;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #edc84b;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 0;
}

.header h1::after {
  right: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.menu h2 {
  display: inline-block;
  padding: 10px 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.menu > p {
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}

.pizzas {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.pizza {
  display: flex;
  gap: 32px;
}

.pizza img {
  width: 120px;
  aspect-ratio: 1;
  align-self: start;
}

.pizza div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px 0;
}

.pizza h3 {
  font-size: 20px;
  font-weight: 400;
}

.pizza p {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.pizza span {
  display: block;
  font-size: 16px;
}

.pizza.sold-out {
  color: #888;
}

.pizza.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}

.footer {
  font-size: 14px;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #edc84b;
  padding: 14px 32px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #e9bb24;
}
